* {
	margin: 0px;
	padding: 0px;
}

#wrapper{
	width: 90%;
	margin: 20px auto;
}

#wrapper .title {
	font: bold 24px Arial, Helvetica, sans-serif;
	color: #239047;
	text-align: center;
	margin: 40px 0 25px;
}

#wrapper .list {
	margin-top: 30px;
	width:1000px;
	margin:0 auto;
}

#wrapper .list .navi{
	float: right;
    display: inline-block;
}
#wrapper .list .navi li{
	list-style: none;
    display: inline-block;
    padding: 0 4px;
}

#wrapper .list .navi li a{
	color: #5a5a5a;
    text-decoration: none;
}
#wrapper .list .navi li.active a{
	color: #2a9047;
    border-bottom: 1px solid;
}
.list table{
	border-collapse: collapse;
	width: 100%;
}

.list table td, .list table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.list table td.cb, 
.list table th.cb{ text-align:center; }

.list table tr:nth-child(even){background-color: #f2f2f2;}

.list table tr:hover {background-color: #ddd;}

.list table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #3e3e3e;
	color: #FFF;
}

.list table .nodata{
	color: #00c;
    text-align: center;
}

/*FLTER SECTION*/
.section-filter {
	margin-bottom:10px;
	display: inline-block;
}
.section-filter *{
	padding: 4px 10px;
}

#wrapper .list .row .action{
	width: 10%;
	border-right: none;
}

#wrapper .list .row .action a{
	text-decoration: none;
	color: #000;
}

#wrapper .list .row .action a:hover{
	text-decoration: underline;
}

#wrapper .list .row > p{
	display: table-cell;
	vertical-align: middle;
	border-right: 1px solid #CCC;
	text-align: center;
	padding: 10px 0;
}

#area-button {
	text-align: right;
    margin-top: 25px;
    display: inline-block;
    float: right;
}

#area-button a {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #ad9d9d;
	width: 100px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	margin-left: 5px;
	background: #3e3e3e;
}

#area-button a:hover{
	background: #239047;
}

#form{
	margin: 10px auto;
    border: 2px solid #239047;
    padding: 30px 30px 20px;
    width: 350px;
}


#form .row{
	margin-bottom: 15px;
	text-align: justify;
}

#form .row p{
	margin-bottom: 5px;
	font-weight: bold;
}

#wrapper .row p.error{
	font-style: italic;
	font-weight: normal;
	color: red;
	font-size: 14px;
	margin-top: 5px;
}


#form .row select{
	padding: 5px 10px;
	width: 350px;
}

#form .row input[type=text],
#form .row input[type=password]{
	padding: 5px 10px;
	width: 326px;
}

#form .row input[type=button], #form .row input[type=submit]{
	padding: 5px 10px;
}

/* Error UL LI*/

.error, .success, .notice {
	margin: 10px 0px;
	padding: 15px;
	background-color: #e5b065;
}

.error > li {
	list-style: inside;
}

.success {
	background-color: #b3ebb3;
}

.notice{
	background-color: #d9c8af;
}


ul.pagination {
	list-style: none;
	display: inline-block;
    margin-top: 25px;
    float: left;
}

ul.pagination li{
	float:left;
	margin-right: 3px;
	background: #3e3e3e;
	color: #fff;
	padding: 4px 8px;
}

ul.pagination li a{
	display: block;
	text-decoration: none;
	color: #fff;
}

ul.pagination li a:hover, ul.pagination li.active, ul.pagination li.active a{
	background: #239047;
}